/* Hacer la tabla responsive */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    font-weight: bold;
  }
}

/* Ajustar el tamaño de las imágenes */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.logout-icon {
  margin-right: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .pagination li a:hover {
    background-color: #f2f2f2;
  }
  
  .pagination .active a {
    background-color: #007bff;
    color: white;
    border: none;
  }